@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

:root {
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-cinza: #A1A1AA;
    --cor-amarelo: #F7B733;
    --cor-fundo: #09090B;
}

body {
    background-color: var(--cor-fundo) ; /* Chamando variavel= var() */ 
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.between {
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px 0px;
    margin-top: 10px;
}

header nav a {
    color: var(--cor-cinza);
    margin: 0px 10px;
}

header nav a {
    color: var(--cor-branco);
}

.baixar {
    border-radius: 10px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 15px;
}

.logo {
    margin-top: 170px;
    display: block;
    justify-self: center;
}

h1 {
    justify-self: center;
    color: var(--cor-branco);
    font-size: 70px;
    margin: 25px 0px;
}

.slogan {
    justify-self: center;
    color: var(--cor-cinza);
    font-size: 45px;
    margin: 25px 0px;
}

.botao {
    justify-self: center;
    margin-top: 50px;
    display: flex;
    gap: 60px;
}

.planos {
    color: var(--cor-branco);
    border-radius: 10px;
    padding: 15px;
    border: 2px solid var(--cor-branco);
}

.baixaragora {

}